body{font-family:Arial;margin:0;padding:0;background:#fafafa;}
header{background:#d60000;color:white;padding:15px;text-align:center;}
nav{background:#333;color:white;padding:10px;text-align:center;}
nav a{color:white;margin:0 10px;text-decoration:none;}
.container{max-width:900px;margin:auto;padding:20px;}
.article-card{background:white;padding:15px;margin-bottom:15px;border-radius:5px;}
footer{background:#222;color:white;text-align:center;padding:20px;margin-top:40px;}
